<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Bienvenue sur MyConservation</title>

	<link rel="shortcut icon" href="Assets2/images/gt_favicon.png">
	<link rel="stylesheet" href="Assets2/css/bootstrap.min.css">
	<link rel="stylesheet" href="Assets2/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="Assets2/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="Assets2/css/main.css">
</head>
