<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Bienvenue sur MyConservation</title>
    @Styles.Render("~/Assets2/css")

	<link rel="shortcut icon" href="Assets2/images/gt_favicon.png">
	
</head>
