@{
    ViewBag.Title = "Downloads";
    Layout = "~/Views/LayoutsEtudiant/_Default.cshtml";
}

<header id="head" class="secondary"></header>  
 
  
  
@model List<string>  
<h2>Telecharger le document</h2>  
<table>  
    <tr>  
        <th>Titre</th>  
          
    </tr>  
    @for (var i = 0; i <= Model.Count - 1; i++)  
    {   
        <tr>  
            <td>@Model[i].ToString() </td>  
            <td>@Html.ActionLink("Télècharge", "Download", new { ImageName = @Model[i].ToString() }) </td>  
        </tr>  
    }  
</table>
