@model MyConservation.Models.Universite

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<div class="container">

		
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 id="Acc" class="page-title">Ajouter l'université</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							
							<h3>Université</h3>
							<hr>
							
     @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
							<form>
								<div class="top-margin">
									<label>Nom de l'université <span class="text-danger">*</span></label>
									<input type="text" name="nomUniversite" class="form-control" required>
                                     @Html.ValidationMessageFor(model => model.nomUniversite)

								</div>
								<hr>

								<div class="row">
									
					
										<button value="Create" class="btn btn-info" type="submit">Ajouter</button>
                                        <button  class="btn btn-danger" type="reset">Annuler</button>
                                        
									
                                   <div>
                            @Html.ActionLink("Retourne sur la liste", "Index")
                                  </div>
								</div>
							</form>
          }
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->
</div>










