<!DOCTYPE html>
<html lang="en">

<body class="home">
  <script src="Assets2/js/headroom.min.js"></script>
	<script src="Assets2/js/jQuery.headroom.min.js"></script>
	<script src="Assets2/js/template.js"></script>
</body>
</html>