@model MyConservation.Models.Administrateur
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutsAdmin/_Default.cshtml";
}



	<!-- container -->
	<div class="container AdminLog" >
 
		
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 id="Acc" class="page-title">PARTIE PRIVEE D'ADMINISTRATION SUR MyConservation</h1>
				</header>
				    @if (TempData["AlertMessage"] != null) { 
    
        <div class="alert alert-danger">
     <strong>Erreur !</strong>   @TempData["AlertMessage"]

    </div>
    
    }
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 id="Acc" class="thin text-center">Se connecter sur le compte admin</h3>
							<p class="text-center text-muted"> </p>
							<hr>
							
     @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
							<form>
								<div class="top-margin">
									<label>Email <span class="text-danger">*</span></label>
									<input type="email" name="email" class="form-control" required>
                                     @Html.ValidationMessageFor(model => model.email)

								</div>
								<div class="top-margin">
									<label>Password <span class="text-danger">*</span></label>
									<input type="password" name="password" class="form-control" required>
                                     @Html.ValidationMessageFor(model => model.password)
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-4">
										<button class="btn btn-action" type="submit">Connexion</button>
									</div>
									<div class="col-lg-4 text-right">
										
                                        <button class="btn btn-danger" type="reset">Annuler</button>
									</div>
                                   
								</div>
							</form>
          }
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->
            
