

@{
    ViewBag.Title = "Index";
}


<header id="head"> 
		<div class="container">
			<div class="row">
			<h3 id="Acc" class="text-center top-space">BIENVENUE SUR MyConservation : "Conserver,Publier,Consulter" LES TRAVEAUX DE FIN D'ETUDES DES LEAUREATS DES UNIVERSITES</h3>	
				
			</div>
		</div>
	</header>
	

	<!-- container -->
	<div class="container">
		
        <h3>8 BONNES RAISONS DE PUBLIER SON TRAVAIL EN LIGNE :</h3>
        <ul>
            <li>Vous participer à la révolution Internet
                 du “partage des connaissances” initiée par MyConservation </li>



       

        <div class="clearfix">
  <img src="~/Assets2/images/Page.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <li>
   La publication de votre mémoire est totalement gratuite et prend moins de deux minutes
  </li>

  <p>
    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
  </p>

  <p>
    And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
  </p>
</div>
  </div>
 </ul>
		<div class="row">
			<div class="col-sm-6">
	
                
			</div>
			<div class="col-sm-6">
				<h3></h3>
				
					 
					
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3></h3>
				<p>
					 
				</p>
			</div>
			<div class="col-sm-6">
				<h3></h3>
				 
			</div>
		</div> <!-- /row -->

</div>	<!-- /container -->